!!! 5
%html
%head
  %title Pin Board
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  - if notice
    #notice-wrapper
      %p.notice= notice
  - elsif alert
    #notice-wrapper
      %p.alert= alert
  %nav.navbar.navbar-default
    .container
      .navbar-brand= link_to "Pin Board", root_path

      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "My Pins", my_path, class: "nav-button"
          %li= link_to "New Pin", new_pin_path, class: "nav-button"
          %li= link_to "Account", edit_user_registration_path, class: "nav-button"
          %li= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-button"
      - else
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Sign up", new_user_registration_path, class: "nav-button"
          %li= link_to "Sign In", new_user_session_path, class: "nav-button"
  .container
    = yield

:javascript
  $(document).ready(function(){
    setTimeout(function(){
      $('#notice-wrapper').fadeOut("slow", function() {
        $(this).remove();
      })
    }, 3500);
  });

